body {
    background-color:cornsilk;
font-family: Arial, Helvetica, sans-serif;
margin:30px}

p {
    font-family: 'Times New Roman', Times, serif}
h1 {
    font-weight: bolder;
    color: orangered;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: solid 3px orangered;
    border-radius: 10px;
    padding: 10px
}
H2 {font-weight: bold; 
    color: peru;
    font-size: medium;
    font-style: italic
}
h3 {color: grey;
font-style: italic;
font-size: small;}
H4 {color: peru;
    text-decoration: underline;
}
ol {font-family: 'Times New Roman', Times, serif;
font-style: italic;}
h5 {font-style:italic}

.center {margin:0 auto;
width: 750px;}

#title2 {
    width:1200px;
    margin: 20px;
}
